<div class="container-fluid" *ngIf="run">
    <div class="row">
        <nav class="col-sm-2 col-md-2 hidden-xs-down bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item active p-2">
                    <h4>Actions</h4>
                </li>
                <li class="nav-item p-2">
                    <span class="link" (click)="expand()">Expand Tree</span>
                </li>
            </ul>
        </nav>

        <main class="col-sm-4">
            <tree-root #tree [nodes]="getNodes()" [options]="getOptions()" (activate)="selectNode($event)">
                <ng-template #treeNodeTemplate let-node let-index="index">
                    <div>
                        {{node.data.stepTree.name}} - {{node.data.state}}
                    </div>
                </ng-template>
            </tree-root>
        </main>

        <div class="col">
            <h4>Node details</h4>

            <app-run-details-item [run]="selectedRunChild"></app-run-details-item>
        </div>
    </div>
</div>