<div class="container">
    <form class="needs-validation" novalidate>
        <div class="form-group">
            <label for="stepName">Step Name</label>
            <input type="text" class="form-control"
                   id="stepName"
                   placeholder="Your Step"
                   [(ngModel)]="step.name"
                   name="stepName"
                   required>
        </div>

        <div class="form-group">
            <label for="url">URL</label>
            <input type="text"
                   class="form-control"
                   id="url"
                   placeholder="http://"
                   [(ngModel)]="step.action.url" name="action"
                   required
            >
        </div>

        <button class="btn btn-primary" type="submit" (click)="save()">Edit</button>
    </form>
</div>