<configuration debug="false">
  <appender name="STDOUT-PLAIN" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>%d [%X{traceId}] [%X{callerId}] [%thread] %-5level %logger{36} %marker - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="${log.level:-INFO}">
    <appender-ref ref="STDOUT-PLAIN"/>
  </root>

  <!-- DB Log (Rollover every 50MB, max 11 logs) -->
  <appender name="DB-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.db.output:-db.log}</file>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${log.db.output:-db.log}.%i</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>10</maxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>50MB</maxFileSize>
    </triggeringPolicy>

    <encoder>
      <pattern>%d [%X{traceId}] [%X{callerId}] [%thread] %-5level %logger{36} %marker - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.postgresql.Driver" level="OFF"/>
  <logger name="unknown.jul.logger" level="OFF"/>

  <!-- Slick Logging -->
  <!-- Additivity set to false so we don't propagate to root appenders -->
  <logger name="slick.jdbc.DriverDataSource"              additivity="false" level="${log.slick.jdbc.driverDataSource:-info}">
    <appender-ref ref="DB-FILE" />
  </logger>
  <logger name="slick.jdbc.JdbcBackend.statement"         additivity="false" level="${log.slick.jdbc.statement:-debug}">
    <appender-ref ref="DB-FILE" />
  </logger>
  <logger name="slick.jdbc.JdbcBackend.parameter"         additivity="false" level="${log.slick.jdbc.parameter:-debug}">
    <appender-ref ref="DB-FILE" />
  </logger>
  <logger name="slick.jdbc.JdbcBackend.benchmark"         additivity="false" level="${log.slick.jdbc.benchmark:-debug}">
    <appender-ref ref="DB-FILE" />
  </logger>
  <logger name="slick.jdbc.StatementInvoker.result"       additivity="false" level="${log.slick.jdbc.result:-info}">
    <appender-ref ref="DB-FILE" />
  </logger>
  <logger name="slick.jdbc.JdbcModelBuilder"              additivity="false" level="${log.slick.createModel:-info}">
    <appender-ref ref="DB-FILE" />
  </logger>
  <logger name="slick.util.AsyncExecutor"                 additivity="false" level="${log.slick.util.asyncExecutor:-inherited}">
    <appender-ref ref="DB-FILE" />
  </logger>
</configuration>