<configuration>
  <!--&lt;!&ndash; Console Appender &ndash;&gt;-->
  <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
    <!--<encoder>-->
      <!--<pattern>%date %.-3level %-25X{traceId} %-25logger{0} %msg%n</pattern>-->
    <!--</encoder>-->
  <!--</appender>-->

  <!--&lt;!&ndash; Per Package Config &ndash;&gt;-->
  <!--<logger name="com.twitter" level="debug"/>-->

  <!--&lt;!&ndash; Root Logger &ndash;&gt;-->
  <!--<root level="info">-->
    <!--<appender-ref ref="STDOUT"/>-->
  <!--</root>-->
</configuration>