<div class="container">
    <form class="needs-validation" novalidate>
        <h2>Create run for step "{{step.name}}"</h2>

        <div class="form-group">
            <textarea type="text" class="form-control"
                      id="stepName"
                      placeholder="Optional input data"
                      [(ngModel)]="input"
                      name="stepName"
                      required></textarea>
        </div>

        <button class="btn btn-primary" type="submit" (click)="create()">Create</button>
    </form>
</div>