<div class="container-fluid">
    <tree-root #tree [nodes]="getNodes()" [options]="getOptions()"
               (activate)="selectNode($event)"
               (deactivate)="unselectNode($event)">
        <ng-template #treeNodeTemplate let-node let-index="index">
            <div [ngSwitch]="node.data.stepType">
                <app-sequential *ngSwitchCase="'Sequential'" [data]="node.data"></app-sequential>
                <app-parallel *ngSwitchCase="'Parallel'" [data]="node.data"></app-parallel>
                <app-action *ngSwitchCase="'Action'" [data]="node.data"></app-action>
            </div>
        </ng-template>
    </tree-root>
</div>