<div class="container-fluid" *ngIf="step">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item active p-2">
                    <h4>Actions</h4>
                </li>
                <li class="nav-item p-2">
                    <span class="link" (click)="expand()">Expand Tree</span>
                </li>
                <li class="nav-item  p-2">
                    <span class="link" [routerLink]="['/runs/new/steps', step.id]">New Run</span>
                </li>
            </ul>

            <ul class="nav nav-pills flex-column">
                <li class="nav-item active p-2">
                    <h4>Recent runs</h4>
                </li>

                <ul *ngFor="let run of relatedRuns | orderBy: 'createdAt': true">
                    <li>
                        <div class="container">
                            <span class="link" [routerLink]="['/runs/details/', run.id]">{{run.createdAt | date: 'full'}}</span>
                            {{run.state}}
                        </div>
                    </li>
                </ul>
            </ul>

            <ul class="nav nav-pills flex-column">
                <li class="nav-item active p-2">
                    <h4>Related Parents</h4>
                </li>

                <ul *ngFor="let step of relatedParents | orderBy : 'name'">
                    <li class="bg-light">
                        <span class="link" [routerLink]="['/steps/details/', step.id]">{{step.name}}</span>
                    </li>
                </ul>
            </ul>
        </nav>

        <main class="col-sm-9">
            <tree-root #tree [nodes]="getNodes()" [options]="getOptions()"
                       (activate)="selectNode($event)"
                       (deactivate)="unselectNode($event)">
                <ng-template #treeNodeTemplate let-node let-index="index">
                    <div [ngSwitch]="node.data.stepType">
                        <app-sequential *ngSwitchCase="'Sequential'" [data]="node.data"></app-sequential>
                        <app-parallel *ngSwitchCase="'Parallel'" [data]="node.data"></app-parallel>
                        <app-action *ngSwitchCase="'Action'" [data]="node.data"></app-action>
                    </div>
                </ng-template>
            </tree-root>
        </main>
    </div>
</div>